
.container{
    display: flex;
    justify-content: content;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.title h1, .title h3{
    text-align: center;
}
.title h1{
    color: green;
}
.card{
    position: relative;
    min-width: 180px;
    height: 303px;
    margin-bottom: 50px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 5px rgba(255,255,255,0.1),
                5px -5px 5px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
                border-radius: 5px;
                margin-right: 20px;
}
.img{
    width: 100%;
    height: 150px;
    border-bottom: 7px solid #a4de39;
}
.img img{
    width: 100%;
    height: 100%;
}
.details h4{
    text-transform: uppercase;
    font-size: 12px;
}
.details{
    padding:0 5px;
}
.details p{
    color: gray;
    font-size: 12px;
}
.email{
    font-size: 12px;
}
button{
    width: 100%;
    border: none;
    background: #4CAF50;
    padding: 5px 16px;
    color: #fff;
    cursor: pointer;
}
.card .box{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    display: flex block;
    justify-content: center;
    overflow: hidden;

}
.card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(255, 255, 255, 0.5);
}


@media only screen and (max-width: 700px) {
    .card{
        min-width: 180px;
        height: 303px;
        margin-bottom: 50px;
        border-radius: 5px;
        margin-right: 20px;
        margin-left: 25px;
    }
    }

    @media only screen and (max-width: 500px) {
        .card{
            min-width: 90%;
            height: 403px;
            margin-bottom: 50px;
            border-radius: 5px;
            
        }
        .img{
            height: 250px;
        }
        }